// Fonts
@import '@fontsource/nunito';

// Variables
@import 'variables-darkly';
$custom-file-text: (
    en: "Explorer",
    fr: "Explorer"
    ) !default;

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

.table-borderless td,
.table-borderless th {
    border: 0;
}

// Codemirror
@import 'codemirror';
@import 'plan';

// Alpine js

[x-cloak] {
    display: none !important;
}

/* Rules for sizing the icon. */
.md-12 {
    font-size: 12px;
}

.md-16 {
    font-size: 16px;
}

.md-18 {
    font-size: 18px;
}

.md-24 {
    font-size: 24px;
}

.md-36 {
    font-size: 36px;
}

.md-48 {
    font-size: 48px;
}

// Règles pour aligner les icônes avec le texte
.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    position: relative;
    top: -1px;
}

// Icônes clicables
.menu_btn {
    cursor: pointer;
    user-select:none;
}

.menu_btn_disabled {
    cursor: default;
    user-select:none;
    color: gray !important;
}

// Badge mails non lus
.messages-count {
    position: relative;
    top: -0.5rem;
    left: -0.4rem;
    font-size: 0.8rem;
    transform: translateX(-50%);
}

/* Règles pour le tableau de la liste des mails reçus*/
.msg-subject.msg-unread {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.msg-subject.msg-read {
    color: rgba(255, 255, 255, 0.7);
}

.msg-body {
    color: rgba(255, 255, 255, 0.5);
}

.ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

table.table-hover tbody tr:hover {
    background-color: $secondary;
}

.row-clickable {
    cursor: pointer;
}

.row-clickable:hover {
    cursor: pointer;
    // background-color: red;
    outline: groove $danger;
}

.nebmail-file-input~.custom-file-label:lang(fr)::after {
    content: "Choisir...";
}
