@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/addon/lint/lint.css';

.ordres-form .CodeMirror {
    border-radius: 0.25em;
    height: 35em;
}

.nebutil-ordres .CodeMirror {
    border-radius: 0.25em;
    height: calc(55vh - 9em);
    background: rgb(250, 249, 240);
}

.nebutil-ordres textarea.CodeMirror {
    padding-top: 0.55rem;
    padding-left: 25px;
}

.crtexte .CodeMirror {
    border-radius: 0.25em;
    height: calc(45vh - 50px);
    background: rgb(250, 249, 240);
}

.crtexte textarea.CodeMirror {
    padding-top: 0.55rem;
    padding-left: 8px;
}

.crtexte .cr-simul .CodeMirror {
    background: rgb(225, 255, 215);
}

.crtexte .cr-tour-prec .CodeMirror {
    background: rgb(255, 215, 215);
}

.CodeMirror {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    line-height: normal;
    font-size: 12px;
}

.ordres-form .cm-s-default .cm-comment {color: green;}
.ordres-form .cm-s-default .cm-string {color: blue;}
.ordres-form .cm-s-default .cm-number {color: darkred;}
.ordres-form .cm-s-default .cm-default {color: red;}
.ordres-form .cm-s-default .cm-erreur {color: red;}
.ordres-form .cm-s-default .cm-line-erreur {color: red;}
.ordres-form .cm-s-default .cm-ordre {color: black;}

.crtexte .cm-s-default .cm-default {color: black;}


.CodeMirror-lines {
    padding: 0.75em 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    padding: 0 0.75em; /* Horizontal padding of content */
}
