@import 'tooltip';
@import 'contextmenu_light.css';

#plan-redim {
    background-color: #05032f;
    overflow: hidden;
    position: relative;
}

#svg_plan {
    outline: none;
}

.plan-simul #plan-redim {
    background-color: rgb(32, 58, 4);
}

.plan-tour-prec #plan-redim {
    background-color: rgb(58, 4, 4);
}

#plan {
    overflow: hidden;
}

.menuitem {
    fill: #bbE;
    stroke: #CCF;
}

.menuitemtext {
    font: 15px sans-serif;
    dominant-baseline: hanging;
    fill: yellow;
    stroke: none;
}

.num-monde {
    font: 20px sans-serif;
    user-select: none;
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: white;
    stroke: none;
}

.num-extended {
    font: 10px sans-serif;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: white;
    stroke: none;
}

.mp {
    user-select: none;
    font: 10px sans-serif;
    fill: yellow;
    stroke: none;
    dominant-baseline: hanging;
}

.mpa {
    user-select: none;
    font: 10px sans-serif;
    fill: yellow;
    stroke: none;
    text-anchor: end;
    dominant-baseline: hanging;
}

.pop {
    user-select: none;
    font: 10px sans-serif;
    fill: white;
    stroke: none;
    dominant-baseline: middle;
}

.ind {
    user-select: none;
    font: 10px sans-serif;
    fill: orange;
    stroke: none;
    text-anchor: end;
    dominant-baseline: middle;
}

.cvp {
    fill: white;
    stroke: none;
}

.cvpe {
    fill: #C33;
    stroke: none;
}

.tvp {
    user-select: none;
    font: 7px sans-serif;
    fill: black;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
}

.tvpe {
    user-select: none;
    font: 7px sans-serif;
    fill: white;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
}

.flottes {
    fill: #AAA;
    stroke: #444;
}

.vcflottes {
    fill: white;
    stroke: none;
}

.flottesA {
    fill: #BABC8A;
    stroke: #444;
}

.vcflottesA {
    fill: #F3F796;
    stroke: none;
}

.flottesE {
    fill: #A00;
    stroke: #844;
}

.vcflottesE {
    fill: #C33;
    stroke: none;
}

.pillage {
    fill: #800;
    stroke: none;
}

.tpillage {
    user-select: none;
    font: 7px sans-serif;
    fill: white;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
}

.explo {
    cursor: default;
    font-size: 10px;
    fill: #1F76FF;
    ;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
}

.potexplo {
    fill: #1F76FF;
    stroke: none;
}

.tpotexplo {
    user-select: none;
    font: 7px sans-serif;
    fill: yellow;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: middle;
}

.nocr>* {
    filter: brightness(50%);
}

.modified {
    fill: url(#diagonal-stripe-4);
}

.rectangle-monde {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

.fond-rectangle-monde {
    fill: black;
    stroke: none;
}

.nocr .modified,
.nocr.stacked>.rectangle-monde,
.nocr.chemin-flotte-success>.rectangle-monde,
.nocr.chemin-flotte-warning>.rectangle-monde,
.nocr.chemin-flotte-danger>.rectangle-monde,
.nocr.stacked>.rectangle-monde,
.nocr.cnx-manquante>.rectangle-monde {
    filter: brightness(100%);
}

.stacked>.rectangle-monde {
    stroke: red;
    stroke-width: 2;
}

.numero-monde {
    stroke-width: 0;
}

.cnx-manquante>.rectangle-monde {
    stroke-width: 2;
    stroke-dasharray: 4;
}

.bad-orientation,
.connexion-traverse-monde {
    stroke: red;
}

.trou-noir>.rectangle-monde {
    stroke-width: 4;
}

.trou-noir>.numero-monde {
    opacity: 0;
}

.chemin-flotte-success>.rectangle-monde,
line.chemin-flotte-success {
    stroke-width: 2;
    stroke: greenyellow
}

.chemin-flotte-warning>.rectangle-monde,
line.chemin-flotte-warning {
    stroke-width: 2;
    stroke: orange
}

.chemin-flotte-danger>.rectangle-monde,
line.chemin-flotte-danger {
    stroke-width: 2;
    stroke: red
}

.cercle-md {
    fill: none;
    stroke: red;
    stroke-width: 2;
    pointer-events: none;
}

.select_monde {
    stroke: red;
    stroke-width: 2;
    fill: orange;
    opacity: 0.5;
    pointer-events: none;
}

.select_monde_area {
    stroke: none;
    fill: green;
    opacity: 0.5;
    pointer-events: none;
}

.jou_0 {
    fill: #000000;
}

text.jou_0 {
    fill: white;
    stroke: none;
}

.jou_1 {
    fill: gray;
}

text.jou_1 {
    fill: white;
    stroke: none;
}

.jou_2 {
    fill: darkolivegreen;
}

text.jou_2 {
    fill: white;
    stroke: none;
}

.jou_3 {
    fill: saddlebrown;
}

text.jou_3 {
    fill: white;
    stroke: none;
}

.jou_4 {
    fill: forestgreen;
}

text.jou_4 {
    fill: white;
    stroke: none;
}

.jou_5 {
    fill: darkslateblue;
}

text.jou_5 {
    fill: white;
    stroke: none;
}

.jou_6 {
    fill: darkgoldenrod;
}

text.jou_6 {
    fill: white;
    stroke: none;
}

.jou_7 {
    fill: darkcyan;
}

text.jou_7 {
    fill: white;
    stroke: none;
}

.jou_8 {
    fill: steelblue;
}

text.jou_8 {
    fill: white;
    stroke: none;
}

.jou_9 {
    fill: darkblue;
}

text.jou_9 {
    fill: white;
    stroke: none;
}

.jou_10 {
    fill: limegreen;
}

text.jou_10 {
    fill: black;
    stroke: none;
}

.jou_11 {
    fill: darkseagreen;
}

text.jou_11 {
    fill: black;
    stroke: none;
}

.jou_12 {
    fill: purple;
}

text.jou_12 {
    fill: white;
    stroke: none;
}

.jou_13 {
    fill: #b03060;
}

text.jou_13 {
    fill: white;
    stroke: none;
}

.jou_14 {
    fill: red;
}

text.jou_14 {
    fill: white;
    stroke: none;
}

.jou_15 {
    fill: darkorange;
}

text.jou_15 {
    fill: black;
    stroke: none;
}

.jou_16 {
    fill: gold;
}

text.jou_16 {
    fill: black;
    stroke: none;
}

.jou_17 {
    fill: turquoise;
}

text.jou_17 {
    fill: black;
    stroke: none;
}

.jou_18 {
    fill: lime;
}

text.jou_18 {
    fill: black;
    stroke: none;
}

.jou_19 {
    fill: darkviolet;
}

text.jou_19 {
    fill: white;
    stroke: none;
}

.jou_20 {
    fill: crimson;
}

text.jou_20 {
    fill: white;
    stroke: none;
}

.jou_21 {
    fill: blue;
}

text.jou_21 {
    fill: white;
    stroke: none;
}

.jou_22 {
    fill: greenyellow;
}

text.jou_22 {
    fill: black;
    stroke: none;
}

.jou_23 {
    fill: fuchsia;
}

text.jou_23 {
    fill: white;
    stroke: none;
}

.jou_24 {
    fill: dodgerblue;
}

text.jou_24 {
    fill: white;
    stroke: none;
}

.jou_25 {
    fill: lightblue;
}

text.jou_25 {
    fill: black;
    stroke: none;
}

.jou_26 {
    fill: deeppink;
}

text.jou_26 {
    fill: white;
    stroke: none;
}

.jou_27 {
    fill: mediumslateblue;
}

text.jou_27 {
    fill: white;
    stroke: none;
}

.jou_28 {
    fill: lightsalmon;
}

text.jou_28 {
    fill: white;
    stroke: none;
}

.jou_29 {
    fill: violet;
}

text.jou_29 {
    fill: black;
    stroke: none;
}

.jou_30 {
    fill: palegreen;
}

text.jou_30 {
    fill: black;
    stroke: none;
}

.jou_31 {
    fill: moccasin;
}

text.jou_31 {
    fill: black;
    stroke: none;
}

.jou_32 {
    fill: pink;
}

text.jou_32 {
    fill: black;
    stroke: none;
}
