#tooltip {
    display: none;
    background: rgb(247, 246, 231);
    color: black;
    font-weight: normal;
    padding: 4px 8px;
    font-size: 15px;
    border-radius: 4px;
    line-height: normal;
    z-index:1; // permet au tooltip de se placer au-dessus du menu
}

#tooltip.tourprec {
    background: rgb(255, 215, 215);
    color: black;
}

#tooltip[data-show] {
    display: block;
}

#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}

#tooltip pre {
    margin-bottom: 0px;
}

.tooltip-cr-element {
    position: relative;
    overflow: hidden;
}

.tooltip-cr-element:not(:last-child) {
    margin-bottom: 1rem;
}

.tooltip-cr-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 2;
}

.tooltip-cr-element:hover > .tooltip-cr-overlay,
#tooltip_content_cr:hover > .tooltip-cr-overlay {
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.2);
}

.tooltip-cr-element:hover > .tooltip-cr-overlay > div,
#tooltip_content_cr:hover > .tooltip-cr-overlay > div {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 2px;
    right: 2px;
}

.copy-all, .copy-tour {
    color: black;
    opacity: 0.6;
    cursor: pointer;
    user-select:none;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.tooltip-content {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: inherit
}

#tooltip_content_info_tour_precedent {
    color: rgb(67, 3, 119);
}

#tooltip_content_nom_monde {
    color: red;
}

#tooltip_content_ordres {
    color: darkgreen;
}

#tooltip_content_ordres .syntaxe-ko {
    color: red;
}

.tooltip-line {
    border-bottom: 2px solid grey;
    display: block;
    margin-bottom: 0.4rem
}

.tooltip-fleche {
    background-color: grey;
    color: black;
    padding: 1px;
    cursor: pointer;
    border: none;
    margin-left: 2px;
}

.tooltip-fleche:hover {
    background-color: #686868;
}

